body {
  //----------------- Основний шрифт ----------------- /

  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  color: #131313;
  //   color: #fcfcfc;

  //------------------ Основниий фон ----------------- /

  background-color: white;
}

// ----- Перевизначення для окремих селекторів ------- /

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
