<section class="section advantages">
  <div class="container advantages__container">
    <!-- Потім приховати заголовок h2 -->
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="list">
      <li>
        <picture></picture>
        <p class="advantages__suptitle">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li>
        <picture></picture>
        <p class="advantages__suptitle">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li>
        <picture></picture>
        <p class="advantages__suptitle">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
