<section class="section advantages">
  <div class="container advantages__container">
    <!-- Потім приховати заголовок h2 -->
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="list advantages__list">
      <li class="advantages__item">
        <picture>
          <source
            srcset="
              ./images/about/1about.webp    1x,
              ./images/about/1about@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/1about.png    1x,
              ./images/about/1about@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantages__img"
            src="./images/about/about1.png"
            alt="cow icon"
          />
        </picture>
        <p class="advantages__suptitle">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <picture>
          <source
            srcset="
              ./images/about/2about.webp    1x,
              ./images/about/2about@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/2about.png   1x,
              ./images/about/2bout@2x.png 2x
            "
            type="image/png"
          />

          <img
            class="advantages__img"
            src="./images/about/about2.png"
            alt="kettle bell icon"
          />
        </picture>
        <p class="advantages__suptitle">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <picture>
          <source
            srcset="
              ./images/about/3about.webp    1x,
              ./images/about/3about@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/3about.png    1x,
              ./images/about/3about@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="advantages__img"
            src="./images/about/about3.png"
            alt="ice cream icon"
          />
        </picture>
        <p class="advantages__suptitle">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
