<section class="section advantages">
  <div class="container">
    <!-- Потім приховати заголовок h2 -->
    <h2>Advantages</h2>
    <ul>
      <li>
        <picture></picture>
        <p>721</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <picture></picture>
        <p>16kg</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <picture></picture>
        <p>84</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
