<!--HEADER-->

<button type="button" class="header__burger">
    <svg width="32" height="32">
        <use></use>
    </svg>
</button>

<button type="button" class="header__btn">
    Buy now
    <svg width="12" height="12">
        <use></use>
    </svg>
</button>

<!--HERO-->

<button type="button" class="button hero__btn">Products</button>
<button type="button" class="button hero__btn-link">How it’s made?</button>


<!--ABOUT-->

<button type="button" class="about__btn">Read more</button>


<!--PRODUCTS-->

<button class="products__button"></button>