<!--HEADER-->

<button type="button" class=" header__burger">
    <svg width="32" height="32">
        <use></use>
    </svg>
</button>

<button type="button" class="button header__btn">
    Buy now
    <svg class="" width="12" height="12">
        <use></use>
    </svg>
</button>

<!--HERO-->

<button type="button" class="button hero__btn">Products</button>
<button type="button" class="button hero__btn-link">How it’s made?</button>
<button type="button" class="button hero__arow">--></button>

<!--ABOUT-->

<button type="button" class="button about__btn">Read more</button>


<!--PRODUCTS-->

<button class="products__button"></button>

<!--CLOSE-BTN-->
<button type="button" class="button close__btn"></button>

<!--SUBMIT-->
<button type="button" class="button submit__btn"> Submit</button>

<!--OPEN MAP-->

<button type="button" class="button open-map__btn">Open map</button>

<!--FOTTER BTN-->
<button type="button" class="button footer__btn">
    Our Locations
</button>
<button type="button" class="button footer__btn-link">
    Franchise
</button>