<section class="section section-contacts contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__overlay">
      <!-- <h2 class="visually-hidden">contacts</h2> -->
      <h2 class="section__title">contacts</h2>

      <div class="contacts__block">
        <ul class="contact-list list">
          <li class="contact-list__item">
            <p class="contact-list__category">CAFE</p>
            <p class="contact-list__location">Chicago</p>
            <adress class="contact-list__map">
              <a
                class="contact-list__map-link link"
                href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405?hl=ru"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </adress>
            <ul class="contact-list__timetable list">
              <li class="contact-list__timetable-item">
                <p class="contact-list__timetable-days">Monday - Friday</p>
                <p class="contact-list__timetable-hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-list__timetable-item">
                <p class="contact-list__timetable-days">Saturday - Sunday</p>
                <p class="contact-list__timetable-hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="list">
              <li>
                <a
                  class="contact-list__contact contact-list__contact-tel link"
                  href="telto:+610383766284"
                >
                  +61(0) 383 766 284
                </a>
              </li>
              <li>
                <a
                  class="contact-list__contact contact-list__contact-mail link"
                  href="mailto:noreply@envato.com"
                >
                  noreply@envato.com
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="contacts__block list">
        <ul class="contact-list list">
          <li class="contact-list__item">
            <p class="contact-list__category">FOOD TRUCK</p>
            <p class="contact-list__location">Los Angeles</p>
            <adress class="contact-list__map">
              <a
                class="contact-list__map-link link"
                href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835263,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=ru"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </adress>
            <ul class="contact-list__timetable list">
              <li class="contact-list__timetable-item">
                <p class="contact-list__timetable-days">Monday - Friday</p>
                <p class="contact-list__timetable-hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-list__timetable-item">
                <p class="contact-list__timetable-days">Saturday - Sunday</p>
                <p class="contact-list__timetable-hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="list">
              <li>
                <a
                  class="contact-list__contact contact-list__contact-tel link"
                  href="telto:+610383766284"
                >
                  +61(0) 383 766 284
                </a>
              </li>
              <li>
                <a
                  class="contact-list__contact contact-list__contact-mail link"
                  href="mailto:noreply@envato.com"
                >
                  noreply@envato.com
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="contacts__block list">
        <ul class="contact-list list">
          <li class="contact-list__item">
            <p class="contact-list__category">CAFE</p>
            <p class="contact-list__location">New York</p>
            <adress class="contact-list__map">
              <a
                class="contact-list__map-link link"
                href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726938,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=ru"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </adress>
            <ul class="contact-list__timetable list">
              <li class="contact-list__timetable-item">
                <p class="contact-list__timetable-days">Monday - Friday</p>
                <p class="contact-list__timetable-hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contact-list__timetable-item">
                <p class="contact-list__timetable-days">Saturday - Sunday</p>
                <p class="contact-list__timetable-hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="list">
              <li>
                <a
                  class="contact-list__contact contact-list__contact-tel link"
                  href="telto:+610383766284"
                >
                  +61(0) 383 766 284
                </a>
              </li>
              <li>
                <a
                  class="contact-list__contact contact-list__contact-mail link"
                  href="mailto:noreply@envato.com"
                >
                  noreply@envato.com
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="contact__button">
        <button
          type="button"
          class="contacts__button-location button js-open-modal"
          data-modal="our-locations"
        >
          <span class="contacts__btn-text">Our Locations</span>
        </button>
        <button
          type="button"
          class="contacts__button-franchise button js-open-modal"
          data-modal="franchise"
        >
          <span class="contacts__btn-text">Franchise</span>
        </button>
      </div>

    </div>
  </div>
</section>
