<section class="section section-contacts contacts">
  <div class="container contacts__container">
    <div class="contacts__block">
      <div class="contacts__group">
        <p>CAFE</p>
        <ul>
          <li class="adress_list">
            <a class="city__list">Chicago</a>
            <a class="city__adress"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415-, USA</a
            >
          </li>
          <li class="day__list">
            <a class="week__list">Monday - Friday</a>
            <a class="time__list">06:00 AM - 10:00 PM</a>
            <a class="week__list">Saturday - Sunday</a>
            <a class="time__list">08:00 AM - 16:00 PM</a>
          </li>
          <li class="main__list">
            <a class="contact__link" href="telto:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contact__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts__block">
      <div class="contacts__group">
        <p>FOOD TRUCK</p>
        <ul>
          <li class="adress__list">
            <a class="city__list">Los Angeles</a>
            <a class="city__adress"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </li>
          <li class="day__list">
            <a class="week__list">Monday - Friday</a>
            <a class="time__list">06:00 AM - 10:00 PM</a>
            <a class="week__list">Saturday - Sunday</a>
            <a class="time__list">08:00 AM - 16:00 PM</a>
          </li>
          <li class="main__list">
            <a class="contact__link" href="telto:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contact__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts__block">
      <div class="contacts__group">
        <p>CAFE</p>
        <ul>
          <li class="adress__list">
            <a class="city__list">New York</a>
            <a class="city__adress">726 Sterling PL, Brooklyn, NY 11222, USA</a>
          </li>
          <li class="day__list">
            <a class="week__list">Monday - Friday</a>
            <a class="time__list">06:00 AM - 10:00 PM</a>
            <a class="week__list">Saturday - Sunday</a>
            <a class="time__list">08:00 AM - 16:00 PM</a>
          </li>
          <li class="main__list">
            <a class="contact__link" href="telto:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contact__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
