<section class="section section-contacts contacts">
  <div class="container contacts__container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nostrum
      fuga corporis minus corrupti ex numquam repellendus voluptatem iste quas
      animi amet, est sint sapiente eaque autem consectetur eius ratione?
    </p>
    <button
      type="button"
      class="contacts__btn-location button js-open-modal"
      data-modal="our-locations"
    >
      <span class="contacts__btn-text">Our Locations</span>
    </button>
    <button
      type="button"
      class="contacts__btn-franchise button js-open-modal"
      data-modal="franchise"
    >
      <span class="contacts__btn-text">Franchise</span>
    </button>
  </div>
</section>
