<footer class="footer">
  <p>homemade ice cream made</p>
  <p>with passion</p>
  <ul>
    <li>
      <a href="">
        <svg>
            <use></use>
        </svg>
      </a>
    </li>
    <li>
        <a href="">
        <svg>
            <use></use>
        </svg>
      </a>
    </li>
    <li>
        <a href="">
        <svg>
            <use></use>
        </svg>
      </a>
    </li>
  </ul>
  <div class="contacts">
    <p>Feel free to contact</p>
    <a href="tel:+610383766284" class="tel-link">+61 (0) 383 766 284</a>
  </div>
  <p>2022 - IceCream. All Rights Reserved.</p>
</footer>
