<header class="header">
  <div class="container header__container overlay__img">
    <nav class="header__nav">
      <a href="" class="header__logo">
        <picture>
          <source
            srcset="
              ./images/header/desktop/logo.png    1x,
              ./images/header/desktop/logo@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/header/tablet/logo.png    1x,
              ./images/header/tablet/logo@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/header/mobile/logo.png    1x,
              ./images/header/mobile/logo@2x.png 2x
            "
            media="(min-width: 480px)"
            type="image/png"
          />

          <img src="./images/header/mobile/logo.png" alt="logo" />
        </picture>
      </a>

      <ul class="list header__list">
        <li class="header__item">
          <a class="link header__link" href="#home">Home</a>
        </li>
        <li class="header__item">
          <a class="link header__link" href="#about">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="link header__link" href="#products">Our products</a>
        </li>
        <li class="header__item">
          <a class="link header__link" href="#contacts">Contact</a>
        </li>
      </ul>

      <button
        type="button"
        class="header__burger"
        aria-expanded="false"
        data-menu-open
      >
        <svg width="32" height="32">
          <use href="./images/svg/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <button
        type="button"
        class="js-open-modal header__btn button header__button"
        data-modal="buy-now"
      >
        Buy now
        <svg class="header__icon" width="12" height="12">
          <use href="./images/svg/icons.svg#icon-btn"></use>
        </svg>
      </button>
    </nav>

    <div class="hero" id="home">
      <div class="hero__container">
        <h1 class="hero__title">
          ice cream made with <span class="hero__subtitle"> passion </span>
        </h1>
        <div class="hero__box">
          <p class="hero__text">16</p>
          <p class="hero__desc">cafes</p>
          <p class="hero__text">23</p>
          <p class="hero__desc">food trucks</p>
        </div>

        <!-- <button type="button" class="button hero__btn" href="#products">
        Products
      </button> -->

        <a class="button hero__btn link hero__link" href="#products">
          Products
        </a>

        <!-- <button
        type="button"
        class="button hero__btn hero__btn-link"
        href="#about"
      >
        How it’s made?
      </button> -->

        <a class="button hero__btn hero__btn-link link" href="#about">
          How it’s made?
        </a>

        <div class="hero__position">
          <p class="hero__lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a type="button" class="button hero__arrow link" href="#gallery">
            <svg class="hero__icon">
              <use href="./images/svg/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
