<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <div class="hero__box">
      <p class="hero__text">16</p>
      <p class="hero__desc">cafes</p>
      <p class="hero__text">32</p>
      <p class="hero__desc">food trucks</p>
    </div>
    <button type="button" class="button hero__btn">Products</button>
    <button type="button" class="button hero__btn">How it’s made?</button>
    <p class="hero__lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>
</section>
