<!-- ======================================= -->
<!-- Підложка під модальним вікном -->
<div class="modal-overlay js-overlay-modal"></div>
<!-- ======================================= -->

<!-- <div class="backdrop"> -->
<div data-modal="our-locations" class="modal">
  <!-- ======================================= -->

  <!--   Svg іконка для закриття вікна  -->
  <svg class="modal__cross js-modal-close" width="16" height="16">
    <use href="./images/svg/icons.svg#icon-cross"></use>
  </svg>
  <!-- ======================================= -->

  <!-- далі пишемо розмітку -->
  <p>Our Locations</p>
</div>
