<!-- ======================================= -->
<!-- Підложка під модальним вікном -->
<div class="modal-overlay js-overlay-modal"></div>
<!-- ======================================= -->

<!-- <div class="backdrop"> -->
<div data-modal="how-made" class="modal">
  <!-- ======================================= -->

  <!--   Svg іконка для закриття вікна  -->
  <svg class="modal__cross js-modal-close" width="16" height="16">
    <use href="./images/svg/icons.svg#icon-cross"></use>
  </svg>
  <!-- ======================================= -->

  <!-- далі пишемо розмітку -->
  <p class="buy-modal__title how-made__title">How it’s made?</p>
  <iframe
    class="how-made__iframe"
    src="https://www.youtube.com/embed/hO-7cz7gyAY?rel=0&showinfo=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay=0; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="how-made__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
