<div class="backdrop">
    <div class="buy-modal">
        <button type="button" class="close-btn-modal">
            <svg class="close-btn__icon" width="16" height="16">
                <use href="./images/svg/icons.svg#icon-cross"></use>
            </svg>
        </button>
        <h2 class="buy-modal__title">Buy now</h2>
        <ul class="buy-modal__list list">
            <li class="buy-modal__list-item first">
                <picture>
                    <source srcset="./images/modal/modal1@1.png 1x, ./images/modal/modal1@2.png 2x" media="(max-width: 767px)">
                    <img class="buy-modal__picture" src="./images/modal/modal1@1.png" alt="Ice Cream">
                </picture>
                <p class="buy-modal__text">Ice Cream</p>

            </li>

            <li class="buy-modal__list-item second">
                <picture>
                    <source srcset="./images/modal/modal2@1.png 1x, ./images/modal/modal2@2.png 2x" media="(max-width: 767px)">
                    <img class="buy-modal__picture" src="./images/modal/modal2@1.png" alt="Ice Coffee">
                </picture>
                <p class="buy-modal__text">Ice coffee</p>

            </li>

            <li class="buy-modal__list-item third">
                <picture>
                    <source srcset="./images/modal/modal3@1.png 1x, ./images/modal/modal3@2.png 2x" media="(max-width: 767px)">
                    <img class="buy-modal__picture" src="./images/modal/modal3@1.png" alt="Milkshake">
                </picture>
                <p class="buy-modal__text">Milkshake</p>

            </li>


        </ul>

        <form class="modal-form">
            <input type="text" name="user-name" class="modal-form-input" required="" pattern="^[a-zA-zа-яА-я]+$"
                placeholder="Name">
            <input type="tel" name="user-phone" class="modal-form-input" required=""
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" placeholder="Phone">
            <textarea class="modal-comment" name="user-comment" placeholder="Comment"></textarea>
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</div>