<!-- ======================================= -->
<!-- Підложка під модальним вікном -->
<div class="modal-overlay js-overlay-modal"></div>
<!-- ======================================= -->

<!-- <div class="backdrop"> -->
<div data-modal="franchise" class="modal">
  <!-- ======================================= -->

  <!--   Svg іконка для закриття вікна  -->
  <svg class="modal__cross js-modal-close" width="16" height="16">
    <use href="./images/svg/icons.svg#icon-cross"></use>
  </svg>
  <!-- ======================================= -->

  <!-- далі пишемо розмітку -->
<h2 class="modal_form_title">
  Thank you for your interest in owning an Ice Cream shop
</h2>
<p class="modal_form_text">
  Due to the overwhelming volume of franchise requests we are not accepting new
  franchisee applications at this time. Once
  the application process resumes, we will contact you for further information. Please fill out the contact
  information
  below and we will reach out for additional information. We appreciate your patience.
</p>
<form class="modal_form">
  <label class="form-products-fild">
    <input class="products-fild-input" type="text" name="name" placeholder="Name" required minlength="2"
      pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Username must be two words separated by space." />
  </label>
  <label class="form-products-fild">
    <input class="products-fild-input" type="tel" name="tel" placeholder="Phone"
      pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{3}" title="Enter the phone number in the format 099-00-00-000"
      required />
  </label>
  <label class="form-products-fild">
    <input class="products-fild-input" type="email" name="email" placeholder="Email" required />
  </label>
  <label class="form-hero-fild">
    <textarea class="fild-text" name="text" placeholder="Comment"></textarea>
  </label>

  <button class="modal_form_submit" type="submit">Submit</button>
</form>
</div>
