<!-- ======================================= -->
<!-- Підложка під модальним вікном -->
<div class="modal-overlay js-overlay-modal"></div>
<!-- ======================================= -->

<!-- <div class="backdrop"> -->
<div data-modal="buy-now" class="modal">
  <!-- <div class="buy-modal"> -->
  <!-- <button type="button" class="close-btn-modal">
      <svg class="close-btn__icon" width="16" height="16">
        <use href="./images/svg/icons.svg#icon-cross"></use>
      </svg>
    </button> -->

  <!-- ======================================= -->

  <!--   Svg іконка для закриття вікна  -->
  <svg class="modal__cross js-modal-close" width="16" height="16">
    <use href="./images/svg/icons.svg#icon-cross"></use>
  </svg>
  <!-- ======================================= -->

  <h2 class="buy-modal__title">Buy now</h2>

  <form class="buy-modal__form">
    <fieldset class="buy-modal__list">
      <label class="buy-modal__label">
        <picture>
          <source srcset="./images/modal/mobile/modal1@1.png 1x, ./images/modal/mobile/modal1@2.png 2x" media="(max-width: 767px)"/>
          <source srcset="./images/modal/desktop/modal1@1.png 1x, ./images/modal/desktop/modal1@2.png 2x" media="(min-width: 768px)" />
          <img class="buy-modal__picture" src="./images/modal/mobile/modal1@1.png" alt="Ice Cream"/>
        </picture>
        <span class="buy-modal__ellipse buy-modal__first"></span>
        <input class="buy-modal__input" type="checkbox" name="Ice-Cream" value="Ice-Cream"/>
        <svg class="buy-modal__svg first"></svg>
        <span class="buy-modal__text">Ice Cream</span>
      </label>
      <label class="buy-modal__label">
        <picture>
          <source srcset="./images/modal/mobile/modal2@1.png 1x, ./images/modal/mobile/modal2@2.png 2x" media="(max-width: 767px)"/>
          <source srcset="./images/modal/desktop/modal2@1.png 1x, ./images/modal/desktop/modal2@2.png 2x" media="(min-width: 768px)"/>
          <img class="buy-modal__picture" src="./images/modal/mobile/modal2@1.png" alt="Ice Coffee"/>
        </picture>
        <span class="buy-modal__ellipse buy-modal__second"></span>
        <input class="buy-modal__input" type="checkbox" name="Ice-coffee" value="Ice-coffee" checked/>
        <svg class="buy-modal__svg second"></svg>
        <span class="buy-modal__text">Ice coffee</span>
      </label>
      <label class="buy-modal__label">
        <picture>
          <source srcset="./images/modal/mobile/modal3@1.png 1x, ./images/modal/mobile/modal3@2.png 2x" media="(max-width: 767px)"/>
          <source srcset="./images/modal/desktop/modal3@1.png 1x, ./images/modal/desktop/modal3@2.png 2x" media="(min-width: 768px)"/>
          <img class="buy-modal__picture" src="./images/modal/mobile/modal3@1.png" alt="Milkshake"/>
        </picture>
        <span class="buy-modal__ellipse buy-modal__third"></span>

        <input class="buy-modal__input" type="checkbox" name="Milkshake" value="Milkshake"/>
        <svg class="buy-modal__svg third"></svg>
        <span class="buy-modal__text">Milkshake</span>
      </label>
    </fieldset>

    <div>
      <input class="buy-modal__name" type="text" name="user-name" minlength="3" maxlength="12" title="In the name its possible to use only the letters of the Latin alphabet." pattern="^[a-zA-Z]+$" placeholder="Name" required />
      <input class="buy-modal__name" type="tel" id="user-phone" name="user-phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx" placeholder="Phone" required />
      <textarea class="buy-modal__comment" name="user-comment" placeholder="Comment"></textarea>

      <button type="submit" class="submit-button">Submit</button>

    </div>
  <!-- </div> -->
</div>
<!-- </div> -->
