<section class="section section-products products" id="products">
  <div class="container">
    <p class="products__label section__suptitle">100% natural</p>
    <h2 class="section__title products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item-firts">
          <div class="products__group">
          <picture>
          <!--<source
            srcset="./images/products/dekstop-products/ice-creamwebp.png 1x, ./images/products/dekstop-products/ice-cream@2xwebp.png 2x"
            media="(min-width: 1200px)" type="images/products/dekstop-product/webp" />
          <source
            srcset="./images/products/dekstop-products/ice-cream.png 1x, ./images/products/dekstop-products/ice-cream@2x.png 2x"
            media="(min-width: 1200px)" />
          <source
            srcset="./images/products/tablet-products/ice-creamwebp.png 1x, ./images/products/tablet-products/ice-cream@2xwebp.png 2x"
            media="(min-width: 768px)" type="images/products/tablet-product/webp" />
          <source
            srcset="./images/products/tablet-products/ice-cream.png 1x, ./images/products/tablet-products/ice-cream@2x.png 2x"
            media="(min-width: 768px)" />
          <source
            srcset="./images/products/mobile-products/ice-creamwebp.png 1x, ./images/products/mobile-products/ice-cream@2xwebp.png 2x"
            media="(max-width: 767px)" type="images/products/mobile-product/webp" />
          <source
            srcset="./images/products/mobile-products/ice-cream.png 1x, ./images/products/mobile-products/ice-cream@2x.png 2x"
            media="(max-width: 767px)" />-->
        
          <img src="./images/products/mobile-products/ice-cream.png" alt="ice-cream" />
        </picture>
        <h3 class="products__item-title">ice cream</h3>
</div>
<div class="products__eclips"></div>
<div class="conteiner-block"> 
        <p class="products__item-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p  class="products__item-text">
        <button class="products__button">
          <svg class="products__icon" >
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        </div>
      </li>
      </div>
 <div class="products__fon">   
      <li class="products__item">
        <h3 class="products__item-title">ice coffee</h3>
        <p>
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products__button"></button>
      </li>
</div>

      <li class="products__item">
        <h3 class="products__item-title">milkshakes</h3>
        <p  class="products__item-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products__button"></button>
      </li>
    </ul>
  </div>
</section>
