<!-- =========== Для кнопки відкриття додати  =============== -->
<!-- class="js-open-modal" data-modal="імя_секціі" -->

<!-- Елементи (a, button svg) для виклику модальних вікон можуть бути будь-які -->

<!-- <button type="button" class="js-open-modal" data-modal="chololate-icecream">
  modal-chololate-icecream
</button> -->

<!-- ======================================================= -->

<!-- =========== Модальне вікно =================== -->

<!-- Підложка під модальним вікном -->

<div class="modal-overlay js-overlay-modal"></div>

<!-- Модальне вікно -->

<div data-modal="team" class="modal modal-team">
  <!--   Svg іконка для закриття вікна  -->
  <svg class="modal__cross js-modal-close" width="16" height="16">
    <use href="./images/svg/icons.svg#icon-cross"></use>
  </svg>
  <img class="team__logo" src="./images/header/desktop/logo.png" alt="logo" />
  <div class="team">
    <!-- Сюди пишемо розмітку -->
    <div class="team__title">
      <p class="team__title">Our team</p>
    </div>
    <ul class="team__list list">
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/ihor-statsenko.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Ihor</p>
          <p class="team__mate-name">Statsenko</p>
          <p class="team__mate-pos">team lead</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/vitalii-nojenko.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Vitalii</p>
          <p class="team__mate-name">Nozhenko</p>
          <p class="team__mate-pos">scram master</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/vitalii-lialin.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Vitalii</p>
          <p class="team__mate-name">Lialin</p>
          <p class="team__mate-pos">teammate</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/olena-prygoda.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Olena</p>
          <p class="team__mate-name">Prygoda</p>
          <p class="team__mate-pos">teammate</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/angela-ostrovska.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Angela</p>
          <p class="team__mate-name">Ostrovska</p>
          <p class="team__mate-pos">teammate</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/vladislav-rujenko.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Vladislav</p>
          <p class="team__mate-name">Ruzhenko</p>
          <p class="team__mate-pos">teammate</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/viktor-stadnik.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Viktor</p>
          <p class="team__mate-name">Stadnik</p>
          <p class="team__mate-pos">teammate</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/artem-nahorniy.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Artem</p>
          <p class="team__mate-name">Nahorniy</p>
          <p class="team__mate-pos">teammate</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/vladislav-sayirenko.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Vladyslav</p>
          <p class="team__mate-name">Satyrenko</p>
          <p class="team__mate-pos">teammate</p>
        </div>
      </li>
      <li class="team__mate">
        <div class="team__mate-elipse">
          <img
            class="team__mate-image"
            src="./images/team/sergii-shumovsky.jpg"
            alt="name"
          />
        </div>
        <div class="team__mate-thumb">
          <p class="team__mate-name">Sergii</p>
          <p class="team__mate-name">Shumovsky</p>
          <p class="team__mate-pos">teammate</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- =========== /Модальне вікно =================== -->
