.header__burger {
  line-height: 0;
  border: none;
  padding: 0;
}

.header__btn {
  border: none;
  border-radius: 10px;
  padding: 12px 34px;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background: rgba(248, 210, 78, 1);
  color: rgba(19, 19, 19, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(10, 136, 23, 1);
    color: rgba(252, 252, 252, 1);
  }
}

// HERO //

.hero__btn {
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 12px 0;
  width: 134px;

  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  background: rgba(132, 161, 120, 1);
  color: rgba(19, 19, 19, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: rgba(10, 136, 23, 1);
    color: rgba(252, 252, 252, 1);
  }
}

.hero__btn-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: #f8d24e;
}

.hero__arrow {
  border: none;
  background-color: tomato;
}

// PRODUCTS //

.products__button {
  border: 20px solid tomato;
  background-color: black;
}

// ABOUT //

.about__btn {
  border: none;
  border-radius: 10px;
  padding: 12px 34px;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background: rgba(248, 210, 78, 1);
  color: rgba(19, 19, 19, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(10, 136, 23, 1);
    color: rgba(252, 252, 252, 1);
  }
}
