.section {
  padding-top: 60px;
  padding-bottom: 60px;

  //   &-header {
  //     border-bottom: 1px solid #ececec;
  //     padding-top: 0;
  //     padding-bottom: 0;
  //   }

  &__title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    // line-height: 38px;
    line-height: 1.27;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
