/* mobile 480px */
.section-customer-reviews {
  padding-top: 80px;
  padding-bottom: 394px;
  width: 100%;
  max-width: 480px;
  height: 940px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/customer-reviews/bcg-mobile.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-customer-reviews {
    background-image: url(../images/customer-reviews/bcg-mobile@2x.jpg);
  }
}

.swiper {
  width: 280px;
  height: 466px;
  text-align: center;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -6px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
}
.swiper-pagination-bullet {
  background-color: #84a178;
}

.swiper-slide_image {
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide__text {
  width: 100%;
  max-width: 280px;
  height: 256px;
  padding: 34px 39px;
  margin-top: 32px;
  margin-bottom: 30px;

  background: #84a178;
  border-radius: 10px;

  font-style: normal;

  font-size: 12px;
  line-height: 2.55;

  color: #fcfcfc;
}
.swiper-slide__label {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;

  color: #131313;
}

/* tablet 768px */
@media screen and (min-width: 768px) {
  .swiper {
    width: 705px;
    height: 350px;
  }

  .swiper-slide__text {
    width: 100%;
    max-width: 705px;
    height: 138px;
    padding: 29px 80px 28px;
    margin-top: 28px;
    margin-bottom: 32px;

    border-radius: 24px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    color: #fcfcfc;
  }
  .swiper-slide__label {
    font-weight: 500;
    font-size: 16px;
  }
  .section-customer-reviews {
    padding-top: 223px;
    padding-bottom: 383px;

    max-width: 768px;
    height: 958px;

    background-image: url(../images/customer-reviews/bcg-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-customer-reviews {
      background-image: url(../images/customer-reviews/bcg-tablet@2x.jpg);
    }
  }
}

/* desktop 1200px */
@media screen and (min-width: 1200px) {
  .swiper {
    width: 968px;
    height: 361px;
  }
  .swiper-slide__text {
    width: 100%;
    max-width: 968px;
    height: 138px;
    padding: 39px 109px 47px;
    margin-top: 32px;
    margin-bottom: 32px;

    font-size: 16px;
  }
  .section-customer-reviews {
    padding-top: 452px;
    padding-bottom: 207px;

    max-width: 1200px;
    height: 1020px;

    background-image: url(../images/customer-reviews/bcg-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-customer-reviews {
      background-image: url(../images/customer-reviews/bcg-desktop@2x.jpg);
    }
  }
}
