.header {
  background: #84a178;
}

.header__container {
  padding: 12px 20px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: none;
}

.header__button {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header__icon {
  margin-left: 7px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 20px 32px;
  }

  .header__burger {
    margin-right: 32px;
    margin-left: auto;
  }
  .header__button {
    height: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding: 20px 16px;
  }

  .header__list {
    display: flex;
    gap: 27px;
  }

  .header__link {
    @include font(16px, 700, 20px);

    color: #fcfcfc;
    &:hover,
    &:focus {
      color: #f8d24e;
    }
  }

  .header__burger {
    display: none;
  }
}
