@media screen and (min-width: 320px) {
  .header__container {
    position: relative;
    display: flex;
    align-items: center;
    background: #84a178;
  }
  .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header__logo {
    padding-top: 12px;
  }
  .header__nav {
    margin: 0 auto;
  }

  .header__list {
    display: none;
  }

  .header__btn {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .header__icon {
    margin-left: 7px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 20px;
  }

  .header__burger {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 8px;
  }

  .header__list {
    display: flex;
    gap: 27px;
  }

  .header__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #fcfcfc;
  }

  .header__burger {
    display: none;
  }
}
