@media screen and (min-width: 320px) {
  .hero__container {
    background-color: #84a278;
    position: relative;
    max-height: 664px;
  }

  .hero__title {
    font-family: Seymour One;
    width: 100%;
    max-width: 247px;

    padding-top: 110px;
    // @include font(26px, 400, 33px);
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #fcfcfc;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    padding-top: 110px;
    width: 100%;
    max-width: 181px;
    // @include font(38px, 400, 48px);
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }
  .hero__subtitle {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 100%;
      max-width: 182px;
      font-weight: 400;
      font-size: 16px;
      line-height: 13px;
      color: aqua;
    }
  }
  .hero__box {
    position: absolute;

    top: 0;
    right: 0;
    padding-top: 94px;
    padding-right: 32px;
  }
  .hero__text {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
  }

  .hero__desc {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    text-align: right;
    color: #fcfcfc;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .hero__btn {
    margin-top: 20px;
  }

  .hero__position {
    position: absolute;
    top: 278px;
    left: 216px;
    margin-left: 33px;
  }

  .hero__lead {
    width: 100%;
    max-width: 151px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    color: #fcfcfc;
  }

  .hero__icon {
    box-sizing: border-box;

    position: absolute;
    width: 40px;

    border: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 367px;
    padding-top: 118px;
    // @include font(38px, 400, 48px);
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
  }

  .hero__box {
    padding-top: 126px;
    padding-right: 16px;
  }

  .hero__text {
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
  }
  .hero__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .hero__btn {
    margin-top: 28px;
  }
  .hero__position {
    top: 441px;
    left: 256px;
    margin-left: 14px;
  }

  .hero__lead {
    max-width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    // background-position: left 256px top 441px;
  }
}

@media screen and (max-width: 767px) {
  .hero__box {
    display: none;
  }
  .hero__position {
    display: none;
  }
}

// ============= overlay ==========
.overlay {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .overlay {
    max-width: 480px;
    height: 502px;
    background-image: url(../images/header/ice.png),
      url(../images/header/ellips.png);

    background-size: 157px 207px, 328px 50px;
    background-repeat: no-repeat;
    background-position: left 82px top 295px, top 452px left -8px;
  }
}

// @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
//   screen and (min-resolution: 192dpi) and (max-width: 767px),
//   screen and (min-resolution: 2dppx) and (max-width: 767px) {
//   // .overlay {}
// }

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    height: 415px;
    background-image: url(../images/header/tablet/ice-cream.png),
      url(../images/header/tablet/ice.png),
      url(../images/header/tablet/ellipse.png);

    background-size: 152px, 257px 325px, 768px 67px;
    background-repeat: no-repeat;
    background-position: left 32px top 250px, left 418px top 90px,
      top 347px left 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: url(../images/header/tablet/ice-cream@2x.png),
      url(../images/header/tablet/ice@2x.png),
      url(../images/header/tablet/ellipse@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1200px;
    height: 664px;
    background-image: url(../images/header/desktop/ice-cream.png),
      url(../images/header/desktop/ice.png),
      // (to right, rgba(252, 252, 252, 0.44), rgba(252, 252, 252, 0.44)),
      url(../images/header/desktop/rectangle.png),
      url(../images/header/desktop/ellipse.png);

    background-size: 225px, 447px 561px, 477px 590px, 1200px 384px;
    background-repeat: no-repeat;
    background-position: left 17px top 374px, left 651px top 103px,
      top 103px left 651px, left 1px top 280px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: url(../images/header/desktop/ice-cream@2x.png),
      url(../images/header/desktop/ice@2x.png),
      // (to right, rgba(252, 252, 252, 0.44), rgba(252, 252, 252, 0.44)),
      url(../images/header/desktop/rectangle@2x.png),
      url(../images/header/desktop/ellipse@2x.png);
  }
}
