.hero__container {
  background-color: #84a278;
}
.hero__title {
  width: 100%;
  max-width: 367px;

  padding-top: 45px;

  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
}
// .hero__box {
// }
.hero__text {
  font-weight: 900;
  font-size: 46px;
  line-height: 56px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;
}
.hero__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: right;

  color: #fcfcfc;
}

// .hero__lead {
// }
