.mobil__container {
  background-color: #97af8d;
}

.mobil__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile__menu {
  text-align: center;
}
.mobile__link {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #fcfcfc;
}
