@media screen and (min-width: 320px) {
  .mobile__menu {
    position: fixed;

    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile__container {
    position: relative;

    width: 100%;
    max-width: 320px;
    height: 100%;

    background-color: #97af8d;
    padding: 12px 20px;
  }

  .icon__cross {
    width: 32px;
    height: 32px;
    color: currentColor;
  }

  .close__menu {
    position: absolute;
    display: block;

    top: 16px;
    right: 20px;
    padding: 0;
    line-height: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .mobile__box {
    text-align: center;
    margin-top: 50px;
  }
}

.mobile__list {
  margin-bottom: auto;
}
.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #fcfcfc;
}

.mobile__btn {
  margin-bottom: 63px;
}

@media screen and (min-width: 768px) {
  .mobile__container {
    position: relative;

    max-width: 768px;
  }
  .mobile__link {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
  }
  .mobile__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile__btn {
    display: none;
  }
}

.mobile__menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  height: 100%;
}

// // ============

@media screen and (min-width: 1200px) {
  .mobile__menu,
  .burger__menu {
    display: none;
  }
}
