.modal-team {
  width: 90%;
  max-width: 280px;
  height: auto;
  padding: 15px;
  background-color: #84a178;

  @media screen and (max-width: 320px) {
    padding: 9px;
  }

  @media screen and (min-width: 768px) {
    max-width: 700px;
    height: 450px;
    padding: 30px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 815px;
    height: 600px;
    padding: 40px;
  }
}

.team {
  &__logo {
    position: absolute;
    top: 0;
    left: 10px;
    width: 30px;
    height: 33px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;

    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 12px;
  }

  &__mate {
    position: relative;
    border-radius: 20px;

    width: 110px;
    height: 135px;

    background-color: #fcfcfc;
    border: 2px solid #f8d24e;
    box-shadow: 0px 5px 20px rgba(212, 20, 67, 0.8);
  }

  &__mate-elipse {
    position: absolute;

    width: 100px;
    height: 100px;
    top: -37px;
    left: 3px;

    z-index: 1;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.3);
    border-radius: 50%;
  }

  &__mate-image {
    position: absolute;
    top: -7px;
    border-radius: 50%;
  }

  &__mate-thumb {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    width: 100%;
    height: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }

  &__mate-pos {
    font-weight: 400;
  }

  &__mate-name,
  &__mate-surname {
    text-transform: uppercase;
  }

  &__mate-name {
    margin-top: 67px;
  }

  @media screen and (max-width: 320px) {
    &__list {
      column-gap: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    &__logo {
      left: 15px;
      width: 40px;
      height: 44px;
    }

    &__title {
      // margin-bottom: 50px;
      font-size: 22px;
    }

    &__list {
      row-gap: 50px;
      column-gap: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__logo {
      left: 20px;
      width: 45px;
      height: 50px;
    }

    &__title {
      margin-bottom: 60px;
      font-size: 22px;
    }

    &__list {
      column-gap: 20px;
    }

    &__mate {
      width: 130px;
      height: 170px;
    }

    &__mate-elipse {
      width: 120px;
      height: 120px;
      top: -40px;
    }

    &__mate-thumb {
      // margin-top: 30px;

      font-size: 16px;
    }

    &__mate-name {
      margin-top: 90px;
    }
  }

  &__mate-thumb:hover &-socials__list,
  &__mate-thumb:focus &-socials__list {
    top: -2px;
    transform: scale(1, 1);
    border-radius: 20px;
  }
}

.team-socials {
  &__list {
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 135px;
    padding-top: 55px;
    row-gap: 0px;
    column-gap: 5px;

    background-color: #84a278;
    // -----------------------------
    top: -70px;
    border-radius: 50%;
    transform: scale(0.8, 0.5);
    // -------------------------

    transition-property: border-radius, top, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // transition-timing-function: linear;

    @media screen and (min-width: 1200px) {
      height: 170px;
      padding-top: 70px;
      gap: 7px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f8d24e;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:first-child {
    margin-right: 35px;
  }

  &__link {
    width: 20px;
    height: 20px;
    color: #84a278;
  }

  &__icon {
    fill: currentColor;
  }
  &__item:hover &__link {
    color: #fcfcfc;
  }

  &__item:hover {
    transform: scale(0.9);
  }
  &__item:focus {
    transform: scale(1.05);
  }
}
