// @import './hero-header';
@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './customer-reviews';
@import './contacts';
@import './footer';
@import './modal-01';
@import './modal-02';
@import './modal-03';
@import './modal-—Åhololate-icecream';
@import './modal-how-made';
@import './modal-our-locations';
@import './modal-franchise';
